.main-container{
    background-color: #f3f5f6;
    float: right;
    width: calc(100% - 120px); 
    margin: 50px 10px 10px 10px;
    height: 100%;
  }
  .container-top, .container-bottom{
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    width: 100%;
    height: 100%;
    display: block;
    float: left;
  }