/* .sp-product-wrapper {
    background-color: #e6e8ed;
    border-radius: 5px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
} */

.sp-sparepart-list-header {
    background-color: white;
    text-align: right;
}

.sp-sparepart-list {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-left: 50px;
}

.sp-sparepart-list th {
    background-color: lightgray;
    border: 1px solid black;
}

.sp-sparepart-list td {
    border: 1px solid black;
    padding: 5px;
}

.sp-sparepart-list-footer td {
    text-align: right;
}