.menu-container {
  padding: 10px 5px;
  top: 63px;
  text-align: left;
  min-width: 200px;
  position: fixed;
  background-color: white;
  border: 1px lightgrey solid;
  border-radius: 3px;
  z-index: 10;
}

.hidden {
  display: none;
}

.node,
.tree-view_children .leaf {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  width: 100%;
}

.info,
.node:hover,
.tree-view_children .leaf:hover {
  background-color: #00b5ad;
  cursor: pointer;
  color: white;
}

.node-active,
.node-active a {
  background-color: #00b5ad;
  color: white;
}

.node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  /* display: inline-block; */
  /* width: 100%; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.tree-view_arrow-empty {
  color: yellow;
}

.tree-view_arrow:after {
  content: '▾';
  font-size: 20px;
}

/* style for the children nodes container */

.tree-view_children {
  margin-left: 20px;
  margin-right: 10px;
}

.info,
.node:hover,
.tree-view_children .leaf:hover a {
  color: white;
}
