.acquaintance {
  height: 130%;
  padding: 90px 0 50px 0;
}
.acquaintance__name {
  padding-bottom: 50px;
}
.acquaintance__content p {
  font-size: 20px;
}
.acquaintance__content h2 {
  text-align: center;
}
