.cebilon {
  /* background: url('../../../assets/back.jpg'); */
  width: 100%;
  height: 115%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  background-attachment: fixed;
  padding: 90px 0 50px 0;
}
.cebilon__name {
  padding-bottom: 50px;
}
.cebilon__content p {
  font-size: 22px;
  padding-left: 100px;
  opacity: 0.85;
  font-weight: 600;
  cursor: pointer;
}
.cebilon__content p:hover {
  opacity: 1;
}
