#userListDiv{
    display: inline-block;
    margin:0;
    padding:0;
    float:left;
}
#userListTable td:hover{
    cursor: pointer ;
}

#bukrsBranchTable .checkBox:hover{
    cursor: pointer ;
}


#bukrsBranchDiv{
    display: inline-block;
    margin:0;
    padding:0;
    float:left;
    margin-left:20px;

}

.userBranch .searchTerm Table{
    border: 0px;
}

.clickableIcon:hover{
    cursor: pointer;
}

.userBranch{
    width:1400px;
}

div.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}