.document {
  background: url('../../../assets/back.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0 50px 0;
}
.document__name {
  padding-bottom: 50px;
  text-align: center;
}
.document__content {
  font-size: 20px;
  text-align: justify;
}
