.ui.kirt {
  background: rgba(26, 29, 26, 0.05);
  margin-bottom: 15px;
}

.touched {
  border: 1px solid #42d4f4;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

/* .ui.green.button, .ui.green.buttons .button {
    background-color: rgba(0,0,0,.05);
    color: #767676;
    text-shadow: none;
    background-image: none;
} */
