.content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 13px;
}

.ui.error.labeled {
    display: flex;
    flex-direction: column;
}

.ui.label.label {
    color: #e74c3c;
}

.ui.labeled.input .ui.label.label {
    display: none;
}

.ui.error.labeled.input .ui.label.label {
    display: block;
}

.ui.error.labeled.input input {
    border-top-left-radius: 4.5px !important;
    border-bottom-left-radius: 4.5px !important;
    border-left: 1px solid #e0b4b4 !important;
}

.ui.labeled.input input {
    border-top-left-radius: 4.5px !important;
    border-bottom-left-radius: 4.5px !important;
    border-left: 1px solid #dfdfdf !important;
}

.ui.label.label input:focus {
    border-left: 1px solid #85b7d9 !important;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
    overflow: unset !important;
}
