.miniCardContainer {
    display: block;
}

.miniCardHeader {
    display: flex;
    font-size: 10px;
}

.miniCardContainer .clientName {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 900;
    margin: 5% 0;
    padding: 3% 0;
    background-color: lightgray;
}

.miniCardContainer .content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.miniCardContainer .clientName a {
    color: black;
}
