.forbidden {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text403 {
  color: #888;
  font-size: 110pt !important;
  margin-bottom: 3rem;
}

.background {
  width: 40rem;
  height: 40rem;
  background-image: url('../assets/images/forbiddenGif.gif');
  background-repeat: no-repeat;
  background-position: center;
}
