.tasting {
  height: 140%;
  padding: 90px 0 50px 0;
}
.tasting__name {
  padding-bottom: 50px;
  text-align: center;
}
.tasting__content {
  font-size: 20px;
}
.tasting__content__acc {
  font-size: 18px;
}
