.lampshow {
  height: 160%;
  padding: 130px 0 270px 0;
}
.lampshow__name {
  padding-bottom: 50px;
  text-align: center;
}
.lampshow__content {
  font-size: 20px;
}
.lampshow__content__acc {
  font-size: 18px;
}
