.carpet {
  background: url('../../../../assets/back.png');
  width: 100%;
  height: 130%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0 50px 0;
}
.carpet__name {
  padding-bottom: 50px;
  text-align: center;
}
.carpet__content {
  font-size: 20px;
}
.carpet__content__acc {
  font-size: 18px;
}
